body {
  display: flex;
  align-items: center;
  justify-content: center;
}

circle,
path {
  fill: transparent;
  stroke: var(--green);
  stroke-width: 6px;
  stroke-dasharray: 1;
  stroke-dashoffset: 1;
  stroke-linecap: round;
  stroke-linejoin: round;
  visibility: hidden;
}

circle {
  transform-origin: 100px 100px;
  transform: rotate(-90deg);
}
